/* Estilo para el aside */
.aside {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: auto;
    height: 100%; /* Asegurarse de que ocupe toda la altura */
    overflow-y: auto; /* Hacer que se desplace si el contenido es largo */
}

.aside h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333; /* Color oscuro para los títulos */
}

.aside form {
    display: flex;
    flex-direction: column;
}

.aside label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.aside input[type="text"], .aside textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
}

.aside button {
    background-color: #4CAF50; /* Botón verde */
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aside button:hover {
    background-color: #45a049; /* Efecto hover para el botón */
}


