
.navbar{
    display: flex;
    align-items: center;
    

}



.navbar button {
    margin-left: 10px;
    background-color: #5a6945; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar button:hover {
    background-color: #768660; 
    transform: scale(1.05); 
}